body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  height: auto;
}

.icon-egg {
  width: 80px;
}
.navbar {
  /* width: 900px; */
  margin-right: auto;
  margin-left: auto;
 }

ul {
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
  border: 2px solid #3A67BC;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.3);

}

li a:hover {
  background: linear-gradient(to bottom, #08224e 0%, #0c4da2 100%);
  color: white;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;

}

.calculadora, .about {
  border: solid 1px #ff6a62;
  padding: 16px;
  margin-bottom: 14px;
}

input[type="radio"] {
  visibility: hidden;
}
label {
  /* display: block;
  border: 1px solid #666;
  width: auto;
  float: left;
  margin: 20px;
  border-radius: 2px; */
}

.egg {
height: 100px;
margin: 20px; 
cursor: pointer;
}

.radio {
  display: flex;
  justify-content: center;
  filter: opacity(30%);
}
.radio :checked+label {
  filter: none;
}

#pokemon {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
 }

.card-pokemon {
  border: solid 4px white;
  padding: 10px;
  width: 180px;
  height: 220px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  
}

/* .image, .title {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.name {
  margin-top: 80px;
}

.egg-option {
  /* background-color: #FF0000 */
}
