body {
  font-family: 'Ubuntu', sans-serif;
}

.title {
  font-size: 30px;
    color: #273979;
    margin-top: 8px;
  float: left;
}
main {
  display: inline-block;
}
.img {
  width: 100%;
  height: auto;
}

.icon-egg {
  width: 50px;
  float: left;
  /* position: absolute; */
}

ul {
  padding: 10px;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  border-left: none;
  border-right: none;
  float: right;
}

li a:hover {
  background: linear-gradient(to bottom, #08224e 0%, #0c4da2 100%);
  color: white;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.lni-menu {
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  visibility: hidden;
}


.calculadora, .about, #filtro-section {
  border: solid 1px white;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 14px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  margin-top: 40px;
}

.radio [type="radio"] {
  visibility: hidden;
}

.egg {
height: 100px;
margin: 20px; 
cursor: pointer;
}

.radio :checked+label {
  filter: none;  
}

#pokemon, #showpokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 10px;
 }
.card-pokemon {
  border: solid 4px white;
  padding: 10px;
  width: 180px;
  height: 200px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  margin-top: 20px;
  }

.select {
  display: block;
  height: 40px;
  font-size: 18px;
  margin-bottom: 16px;
  border: none;
}
.select-az {
  background-color: #08224e;
  border-radius: 30px;
  padding: 10px;
  color: white;
  font-size: 16px;
}
.name {
  margin-top: 20px;
}
.filtro {
  margin-top: 40px;
}

.egg-option {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.type {
  margin-top: 0px;
  margin-bottom: 0px;
}

.egg-km {
  /* justify-content: center;
  display: flex; */
  font-size: 26px;
  font-weight: 700;
}
#km-2 {
  color: #96B46C;
}

#km-5 {
  color: #D39738;
}
#km-10 {
  color: #8A7CC8;
}

.btn-resultado {
  padding: 10px;
  background-color: #08224e;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border-color: #08224e;
  cursor: pointer;
  margin-top: 10px;
}
.incubadora {
  cursor: pointer;
  height: 100px;
}

.topnav {
  overflow: hidden;
  background: linear-gradient(to bottom, #243a7b 0%, #1d56a3 100%);
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background: linear-gradient(to bottom, #243a7b 0%, #cc3300 100%);
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  body {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
}
