body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #0C4DA2;
  display: flex;
}
li a:hover {
  background-color: #08224E;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  color:white;
}

.about {
  border: solid 1px #ff6a62;
  padding: 16px;
  margin-bottom: 14px;
}

.calculadora {
  border: solid 1px #ff6a62;
  padding: 16px;
  margin-bottom: 14px;
}



input[type="radio"] {
  visibility: hidden;
}
label {
  display: block;
  border: 1px solid #666;
  width: auto;
  float: left;
  margin: 20px;
  border-radius: 2px;
}

input[type="radio"]:checked+label {
  border-color: #ccf;
}
.egg {
height: 100px;
margin: 20px; 
cursor: pointer;
}

.card-pokemon{

}
.radio {
  display: table;
}
.card {
  margin: 10px;
  align-items: center;
  display: inline-block;
  border-radius: 2px;
  padding: 30px;
  flex-flow: row;
  display: flex;

}
.pokemon {
  background-color: #08224E;
}
.card-pokemon{
  border: solid 1px red;
  padding: 10px;
}

